body{
    background-image: linear-gradient(to top, #ffffff 0%, #f9f4f4 100%);
}

.myClass{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(250, 115, 142)
}
h2{
    color:rgb(225, 128, 255)
}
h3{
    color:rgb(131, 131, 131)
}
h4{
    color:coral
}
li{
    color:rgb(146, 153, 247)
}
.heading-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.linkedin-image {
    padding-top: 50px;
    max-width: 50%;
}

